{% extends 'base.html' %}
{% load static %}
{% block title %} Post Detail {% endblock %}
{% block content %}
<style>
    .post-card {
        margin: 15px;
        max-width: 850px;
        width: 100%;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
</style>

<div class="card photo-card">
    <div class="card-body">
        {% if photo.image %}
        <img class="card-img-top" src="{{ photo.image.url }}" alt="{{ photo.description }}">
        {% endif %}

        <div class="photo-card-footer">
            <p class="card-text mb-0">{{ photo.author.username }}{{ photo.description }}</p>
            <p class="card-text mb-0">{{ photo.created_at }}</p>
        </div>
    </div>
    <div class="card-footer">

</div>

</div>
{% endblock %}